*{
    background-color: #182541;
    
}
.contact-form form {
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}

.contact-form form .input-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-form form .input-box, 
.contact-form form textarea {
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background-color: rgb(241, 241, 241);
    border-radius: 0.8rem;
    margin: 1em 1em;
    resize: none;
}
.input-box>input {
    padding: 10px;
    border-radius: 0.8rem;
    background-color: rgb(241, 241, 241);
}
.contact-form form textarea:hover,
.contact-form form .input-box:hover,
.input-box, input, input[type="text"], textarea {
    border: 2px solid orangered;
}
.btn-1 {
    padding: 15px 28px;
    background-color: #14213d;
    color: orangered;
    border: 2px solid orangered;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-1:hover {
    background-color: orangered;
    color: white;
    border: 2px solid #14213d;
}
.contact-form h2 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 36px;
    color: white;
}
h2> span {
    color: orangered;
}
