*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body
{
    display: grid;
    justify-content: center;
    align-items: center;
    
 background-image: url('img/loginbg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
}
.box
{
    
    padding: 20px 30px;
    width: 300px;
    height: 400px;
    backdrop-filter: blur(50px);
    border-radius: 10px;
    background: rgba(49, 49, 49, .2);
    box-shadow: 0 0 10px orangered, 0 0 30px orangered;
}
.box .form
{
    padding: 10px 20px;
}
.box .form h2
{
    text-align: center;
    color: #fff;
}
.box .form form
{
    margin-top: 50px;
    align-items: center;
}
.box .form form .inputbox input
{
    padding: 10px 20px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid orangered;
    margin-bottom: 30px;
    color: #fff;
}
.box .form form .inputbox span
{
    position: absolute;
    transform: translateY(-80px);
    font-size: 14px;
    color: orangered;
}
.box .form form .sub
{
    padding: 10px 20px;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    background: orangered;
    cursor: pointer;
    font-size: 16px;
}

