a{
    text-decoration: none;
}
.sub-nav{
    display: block;
    text-align: center;
font-size: 12px;
   margin: 0.8em 1em;
   
}
.sub-nav a{
    align-content: center;
  width: 100%;
        margin: 1em;
        padding: 0.4em;
        background-color: white;
        color: black;
        font-weight: 500;
        border-radius: 5px;
    
}  
.sub-nav a:hover{
    background-color: orangered;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    transition: 0.3s;
}    

.notes-content{

    background-color: #151f36;
}
.notes h1{
    text-align: center;
    padding: 1em 0em;
    color: white;
    text-shadow: 0 0 10px orangered;

}
.container-notes{
    width: 1170px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
    
}
.subjects{
    flex-basis: 15%;
    margin: 10px 10px;
    padding: 10px 0;
    background: rgba( 255, 255, 255, 0.05 );
box-shadow: 0 2px 15px 0 #ff4500;
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid orangered;
    border-radius: 5px; 
    color: white;
    text-align: center;
    margin-bottom: 50px;
    
}
.subjects i, h3{
    font-size: 25px;
    
    margin: 15px 0 ;
}
.subjects button {
    background-color: #131c30;
    border-radius: 5px;
    border: 2px solid orangered;
    padding: 0 5px;
    margin: 20px 0;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}
.subjects a{
    color: orangered;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}
.subjects button:hover{
    background-color:   orangered;
    
    font-weight: 500;
    border-radius: 5px;
    transition: 0.2s;
    border-bottom: 3px solid orangered;
    text-shadow: 0 0 10px orangered, 0 0 30px orangered;
    transform: scale(1.1);
}
.subjects a:hover{
    color: white;
    
}
.subjects:hover{
    color: orangered;
    box-shadow: 0 0 10px orangered, 0 0 30px orangered;
    transform: scale(1.0) translateY(-5px);
}

@media only screen and (min-width: 200px) and (max-width: 768px){
    .container-notes{
        width: 100%;
        flex-direction: column;
    }
    .subjects{
        margin: 20px 40px;
    }
}